.sidebar {
  header {
    .burger {
      div {
        width: 30px;
        height: 2px;
        margin: 2.8px;
        @apply bg-slate-500 rounded-sm;
      }
    }
  }
  main {
    @include customScrollBar;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
  }
}
