.chat {
  form {
    i,
    button {
      @apply w-12 h-10 bg-slate-700 rounded-full flex items-center justify-center cursor-pointer;
    }
  }
}

@media screen and (max-width: 1000px) {
  .chat-viewer {
    position: fixed;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  .empty-chat {
    display: none;
  }
  .chat-viewer.has-chat {
    transform: translateX(0px);
  }
}
